body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
.example-1{
    position: relative;
    height: 200px;
    margin: 1em 0;
    background: #BCE27F;
}

.example-1:before{
    content:'';
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    width: 150px;
    border-radius: 10px;
    border: solid 10px #96B566;
    transform: translate(-50%, -50%);
}

.example-1:after{
    content:'';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15px;
    height: 15px;
    z-index: 999;
    border-radius: 50%;
    background: #F6FF97;
    animation-name: example-1;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes example-1 {
    0% { transform: translate(-72.5px,-7.5px); }
    100% { transform: translate(58.5px,-7.5px); }
}